<%= form_for(@gyula) do |f| %>
  <% if @gyula.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gyula.errors.count, "error") %> prohibited this gyula from being saved:</h2>

      <ul>
      <% @gyula.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
